@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight-gradient {
  background: linear-gradient(
    90deg,
    #ffffff00 0%,
    #ececec 40%,
    #e1e1e1 50%,
    #ececec 60%,
    #ffffff00 100%
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: sweep 4.5s cubic-bezier(.4,0,.2,1) 1 forwards;
}

@keyframes sweep {
  from { background-position-x: -150%; }
  to   { background-position-x: 150%; }
}